:root {
  /* color */
  --c-background: #ffffff;
  --c-header-background: var(--c-background);
  --c-aside-background: var(--c-background);
  --c-tabs-background: var(--c-background);
  --c-page-background: #f9fbfd;
  --c-mask-background: rgba(0, 0, 0, 0.4);
  --c-border: #edf2f9;

  /* size */
  --aside-width: 208px;
  --layout-height: 100vh;
  --header-height: 64px;
  --footer-height: 50px;
  --border-radius: 0.25rem;

  /* z-index */
  --z-index-sidebar: 100;

  /* transition */
  --t-duration: 0.3s;
  --t-timing-function: ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
